* {
    box-sizing: border-box;
}

.container{
    margin: auto;
    font-family: sans-serif;
}

ul{
    list-style: none;
}

/* Month Header */

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

/* Table with Days and Dates */
.cal-grid{
    display: grid;
}

table, th, td{
    width: 100%;
    table-layout: fixed;
    text-align: left;
    font-size: 17px;
    border-collapse: collapse;
    border:1px solid skyblue;
    vertical-align: top;


}

tr, th, td{
    padding: 15px;
}

th{
    background:red;
    color: white;
}

td{
    background: white;
    height: 200px;
}

td:hover{
    background: gray;
}

/* Header */
.cal-header{
    text-align: center;
    background-color: green;
    display: flex;
}

.cal-header span{
    width: 14.28%;
    background-color: gray;
    box-sizing: border-box;
}
