.header {
    background-color: #4286f4;
    height: 5vw;
    margin-bottom: 10px;
}

.container {
    background-color: #dfdfdf;
    width: 90%;
    height: 35vw;
    font-size: 2em;
    margin-left: 5%;
}

footer {
    background-color: #42f44b;
    margin-top: 10px;
}
